.aside{
    width: 250px;
    height: 100vh;

    background-color: #FCFAF8 ;

    display: flex;
    flex-direction: column;
    gap: 4px;
}
.aside__Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: var(--font-logo);
    font-size: 52px;
    font-weight: 700;
}
.aside__element{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.element__h{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;

    font-family: var(--font-main);
    font-weight: 600;
    color: black;
    font-size: 26px;
}