.button{
    background-color: #FCFAF8;

    color: #E34432;
    font-size: 24px;
    font-family: var(--font-main);
    font-weight: 500;

    border: none;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;

    padding: 6px;
    padding-left: 8px;

    width: 250px;
    height: 50px;

    transition: all 0.5s ease;
}

.button:hover{
    background-color: #E34432;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}