.button{
    background-color: #FCFAF8;

    color: #454341;
    font-size: 23px;
    font-family: var(--font-main);
    font-weight: 500;

    padding: 6px;
    padding-left: 12px;

    border-radius: 11px;
    border: none;

    width: 250px;
    height: 60px;

    position: relative;


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    transition: all 0.5s ease;
    
}

.button:hover{
    background-color: #bbb3ada1;
    cursor: pointer;

    transition: all 0.5s ease;
}

