.button{
    background-color: #FCFAF8;

    color: #454341;
    font-size: 23px;
    font-family: var(--font-main);
    font-weight: 500;

    padding: 6px;
    padding-left: 16px;

    border-radius: 11px;
    border: none;

    height: 50px;
    width: 250px;

    position: relative;

    width: 250px;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    
    transition: all 0.5s ease;
}

.button:hover{
    background-color: #FDEEE4;
    color: #E34432;
    cursor: pointer;

    transition: all 0.5s ease;
}

