.form{
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 36px;
}
.form__h{
    font-size: 48px;
    font-family: var(--font-main);
    font-weight: 500;
}
.form__Container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Container__label{
    font-size: 32px;
    font-family: var(--font-main);
    font-weight: 500;
}
.Container__textInput{
    width: 357px;
    font-size: 32px;

    border: none;
    border-bottom: 1px solid black;    

    margin: 10px;
    margin-left: 0;
}
.Container__dateInput:focus,
.Container__timeInput:focus, 
.Container__textInput:focus{
    outline: none;
    border-bottom: 1px solid #E34432;    
}
